html {
  height: 100%;
  font-size: 10px;
  background-color: black;
  background-size: cover;
}

#root {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 450px;
}

.key-container {
  position: relative;
}

.key {
  width: 10rem;
  padding: 1rem .5rem;
  margin: 1rem;

  border: .4rem solid black;
  border-radius: .5rem;
  
  font-size: 1.5rem;
  text-align: center;
  color: white;
  
  background: rgba(125, 125, 125, 0.262);
  
  transition: all .08s ease;
  cursor: pointer;
  z-index: 5;
}

.playing {
  transform: scale(1.1);
  border: .4rem solid #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.key-options {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 10;
}

.key-options-content {
  position: relative;  
  width: 400px;
  height: 200px;

  margin: 50px auto;
  
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #ffc600;

  background-color: black;

  z-index: 20;
}

.sound-options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 10px;
}

.sound-option {
  padding: 8px;
  margin-bottom: 15px;
  border: 0.5px solid black;
  border-radius: 5px;

  font-size: 16px;
  color: white;

  cursor: pointer;
}

.sound-option:hover {
  border-color: white;
}

.bind-options {
  color: white;
}

.bind-options p {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.option-switch {
  position: absolute;
  bottom: 10px;
  right: 10px;
  
  padding: 8px;
  
  background-color: black;
  font-size: 12px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  
  cursor: pointer;
  outline: none;
}

.bind-options button {
  left: 10px;
}

.option-switch:hover {
  color: #ffc600;
  border-color: #ffc600;
}

.bind-display {
  width: 15%;
  height: 44px;
  margin: 30px auto;

  border-bottom: 1px solid white;

  font-size: 36px;
  text-align: center;
}

.active {
  border-color: #ffc600;
}

.active:hover {
  border-color: #ffc600;
}

@media only screen and (max-width: 1400px) {
  .app {
    width: 300px;
  }

  .key {
    width: 6rem;
    margin: 0.6rem;
  }

  kbd {
    font-size: 2.5rem;
  }

  .sound {
    font-size: 1rem;
  }

  .key-options-content {
    width: 300px;
    height: 160px;

    margin: 20px auto;
  }

  .sound-options {
    padding: 10px;
  }

  .sound-option {
    margin-bottom: 0;
    font-size: 14px;
  }

  .option-switch {
    font-size: 10px;
  }

  .bind-display {
    margin-top: 0px;
  }
}