html {
  height: 100%;
  font-size: 10px;
  background-color: black;
  background-size: cover;
}

#root {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 450px;
}

.key-container {
  position: relative;
}

.key {
  width: 10rem;
  padding: 1rem .5rem;
  margin: 1rem;

  border: .4rem solid black;
  border-radius: .5rem;
  
  font-size: 1.5rem;
  text-align: center;
  color: white;
  
  background: rgba(125, 125, 125, 0.262);
  
  transition: all .08s ease;
  cursor: pointer;
  z-index: 5;
}

.playing {
  transform: scale(1.1);
  border: .4rem solid #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.key-options {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 10;
}

.key-options-content {  
  width: 400px;
  height: 200px;

  margin: 50px auto;
  
  border-radius: 5px;
  box-shadow: 1px 1px 10px #ffc600;

  background-color: black;

  z-index: 20;
}

.sound-options {
  display: flex;
  justify-content: space-around;
}

.sound-option {
  padding: 8px;
  border: 0.5px solid black;

  font-size: 16px;
  color: white;

  cursor: pointer;
}

.sound-option:hover {
  border-color: white;
}